/* How to center the element on DIV container */
.flex-container {
    display: flex;    
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    place-items: center;
}

.individual-item {
    text-align: center;
    margin: auto;
}